Backend/.vs/TP LPPA/v17/.suo
Backend/TP LPPA/obj/Debug/TP LPPA.csproj.CoreCompileInputs.cache
Backend/TP LPPA/obj/Debug/TP LPPA.csproj.FileListAbsolute.txt
Backend/TP LPPA/obj/Debug/TP LPPA.dll
Backend/TP LPPA/obj/Debug/TP LPPA.pdb
